---
layout: default
---
<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>
    {% if site.pages %}
        {% assign home_page = site.pages | where: "name", "home.md" | first %}
        {% if home_page %}
            <section class="post-content standard-post-class">
                {% if page.bootstrap %}
                    <div class="bootstrap-iso">
                {% endif %}
                        {{ home_page.content }}
                {% if page.bootstrap %}
                    </div>
                {% endif %}
            </section>
            <hr class="content-separator">
        {% endif %}
    {% else %}
        {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
        {{ _blog | split: " " | join: " "}}
    {% endif %}
</div>
